{% extends "layout.html" %}
{% block content %}
<div id="banner-wrapper">
    <div class="banner"></div>
    <div class="propic"></div>
    <p>Name</p>
</div>
<div id="campaign-hero">
    <div id="story">
        <h3>Story behind this campaign:</h3>
        <p>// Explain your campaign here. //</p>
    </div>

    <div id="side-donataion-box">
        <div id="goal">

        </div>
        <h2>Donation Amount</h2>
        <div id="frequency-wrapper">
            <button>One-off</button>
            <button>Monthly</button>
            <button>Yearly</button>
        </div>
        <div id="amount">
            <button>£50</button>
            <button>£25</button>
            <button>£10</button>
            <button>£5</button>
            {# <button>Custom</button> #}
        </div>
    </div>
</div>
<div id="progress">
    <p>Your donation had made our community better by:</p>
    <div id="progressbar-wrapper">
        <ul class="progressbar">
            <li class="active">Step 1</li>
            <li>Step 2</li>
            <li>Step 3</li>
        </ul>
    </div>
</div>
<div id="discussion">
    <div class="discussion-box">
        <p>User 1</p>
        <p>Good job J! Keep up your work. </p>
    </div>
    <div class="disccusion-box">
        <p>User 2</p>
        <p>Nice work! Love to our community</p>
    </div>
</div>
<div id="comment">
    <form>
        <label for="comment">Discussion: </label>
        <textarea id="comment-box" name="comment"></textarea>
        <button type="submit">Send message →</button>
    </form>
</div>
{% endblock content %}