<head>
    <script type="text/javascript" src="{{ url_for('static', filename='helper.js') }}"></script>
    <script>
        window.onload = function() {
            let donation_selection = {
                is_period: 1,
                amount_id: 1,
                period_id: 1,
            }
            {# console.log(getVars('{{donation_plan}}'))
            if (getVars('{{donation_plan}}')) {
                donation_selection.is_period = 0;
            } #}
            const oneoff_btns = document.getElementsByClassName("oneoff-btn");
            const amount_btns = document.getElementsByClassName("amount-btn");
            const period_btns = document.getElementsByClassName("period-btn");
            btns_event_listener(oneoff_btns, donation_selection, "is_period", period_btns);
            btns_event_listener(amount_btns, donation_selection, "amount_id");
            btns_event_listener(period_btns, donation_selection, "period_id");
            document.getElementById("donation-fetch-btn").addEventListener("click", async () => {
                try {
                    const res = await fetch('/donation/{{project.id}}', {
                        "method": "POST",
                        "headers": {"Content-Type": "application/json"},
                        "body": JSON.stringify(donation_selection),
                    })
                    window.location.href = res.url;
                } catch (error) {
                    console.log("error");
                }
            })
            console.log(donation_selection)
        }
    </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

</head>

{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="flex">
                        <div class="profile mr-3"><img src="../static/images/duck.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
                        <div class="media-body mb-5 text-white" style="padding-left: 2rem">
                            <h1 class="mt-0 mb-0">{{project.name}}</h1>
                            <div id="managers-container">
                            <div>Managers: </div>
                                {% for manager in project.managers %}
                                    <div>
                                        <a href="{{url_for('profile', user_id=manager.id)}}">{{manager.username}}</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>Cardiff, Wales</p>
                            <div id="social-media">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=nptmind.org.uk/" target="_blank" rel="noopener" class="fa fa-facebook"></a>
                                <a href="http://twitter.com/share?text=Join me to support mental health&url=https://nptmind.org.uk/&hashtags=NPTmind" class="fa fa-twitter twitter-share-button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# <h1>{{project.name}}</h1> #}
        
    </div>
    <div class="project-information-container">
        <div class="left">
            <div id="story">
                <h3>Story behind this campaign:</h3>
                <div>{{project.description}}</div>
            </div>
            <div>Service Target: {{project.service_target}}</div>
            <div>Funding target: {{project.funding_target}}</div>
            <div>Expired date: {{project.before_date}}</div>
            <div>Posted date: {{project.post_date}}</div>
            <div class="goal-container">
                <h4>Goals</h4>
                {% if project.goals %}
                    {% for goal in project.goals %}
                        <div class="goal">
                            {{ goal.name }} Required funding: {{goal.funding_required}}
                        </div>
                    {% endfor %}
                {% else %}
                    - no goal yet -
                {% endif %}
                {% if is_manager %}
                    <a href="{{url_for('addGoal', prj_id=project.id)}}">Add Goal</a>
                {% endif %}
            </div>
            <h4>Donors</h4>
            {% for donater in project.donaters %}
                <div>
                    <a href="{{ url_for('profile', user_id=user.id) }}">{{ donater.username }}</a>{{ donater.donated_amount }}
                </div>
            {% endfor %}
        </div>
        <div class="right">
            {% if not is_manager %}
                {% if donation_plan %}
                    <h2>Donation</h2>
                    <div id="side-donataion-box">
                        <div class="flex">
                            <div id="0" class="donation-btn oneoff-bt selected-donate-option">One-off</div>
                        </div>
                        <div class="flex">
                            {% for amount in amounts %}
                                <div id="{{ amount.id }}" class="donation-btn amount-btn {{'selected-donate-option' if loop.index == 1 else ''}} ">£{{ amount.amount }} </div>
                            {% endfor %}
                        </div>
                        <div id="donation-fetch-btn" class="btn btn-info">Donate</div>
                    </div>
                    <div id="donation-plan">
                        <h4>Current Plan</h4>
                        £{{donation_plan.amount[0].amount}} {{donation_plan.period[0].period}}
                        <a href="{{ url_for('deleteDonationPlan', prj_id=project.id, plan_id=donation_plan.id) }}">Delete</a>
                    </div>
                {% else %}
                    <div id="side-donataion-box">
                        <h2>Donation</h2>
                        <div class="flex">
                            <div id="0" class=" donation-btn oneoff-btn">One-off</div>
                            <div id="1" class=" donation-btn oneoff-btn selected-donate-option">Periodly</div>
                        </div>
                        <div class="flex">
                            {% for amount in amounts %}
                                <div id="{{ amount.id }}" class=" donation-btn amount-btn {{'selected-donate-option' if loop.index == 1 else ''}} ">£{{ amount.amount }} </div>
                            {% endfor %}
                        </div>
                        <div id="period-container" class="flex">
                            {% for period in periods %}
                                <div id="{{ period.id }}" class=" donation-btn period-btn {{'selected-donate-option' if loop.index == 1 else ''}}">{{ period.period.title() }}</div>
                            {% endfor %}
                        </div>
                        <div id="donation-fetch-btn" class="btn btn-info">
                            Donate
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div id="discussion" class="container">
    <div class="row">
        {% for comment in project.comments %}
            <div class="col-md-8">
            <div class="media g-mb-30 media-comment">
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="../static/images/duck.jpg" alt="Image Description">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <div class="g-mb-15">
                    <a href="{{ url_for('profile', user_id=comment.user.id) }}">
                        <h5 class="h5 g-color-gray-dark-v1 mb-0">{{comment.user.username}}</h5>
                    </a>
                    <span class="g-color-gray-dark-v4 g-font-size-12">{{comment.date}}</span>
                </div>
                <p>{{comment.comment}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if current_user.is_authenticated %}
    <div id="comment">
        <form method="POST" action="/comment/{{project.id}}">
            {{ comment_form.csrf_token }}
                <div class="panel">
                    <div class="panel-body">
                    {{ comment_form.comment.label }}
                    {{ comment_form.comment (class="form-control", rows="2", placeholder="What are you thinking?") }}
                    <div class="mar-top clearfix">
                        <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
                        <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                    </div>
                    </div>
                </div>
        </form>
    </div>
{% endif %}
{% endblock content %}