@font-face {
    font-family: MindMeridian-Regular;
    src: url(../fonts/MindMeridianW05-Regular.woff2) format("woff2"), url(../fonts/MindMeridianW05-Regular.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: MindMeridian-Display;
    src: url(../fonts/MindMeridianW05-Display.woff2) format("woff2"), url(../fonts/MindMeridianW05-Display.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: MindMeridian-Bold;
    src: url(../fonts/MindMeridianW05-Bold.woff2) format("woff2"), url(../fonts/MindMeridianW05-Bold.woff) format("woff");
    font-display: swap
}

html {
    height: 100%;
}

body {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "MindMeridian-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

h1 {
    color: white;
    font-size: 200%;
}